# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
*.db

# Node
client/node_modules/
client/dist/
client/.env.local
client/.env.*.local

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
